a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #0C192C;
}

.header {
    padding: 5px 40px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.Customise {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0C192C;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.1px;
    background: white;
    border: 1px;
    border-radius: 9px;
}

.Navigation {
    display: flex;
    padding: 5px 40px;
    color: rgb(4, 0, 0);
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 210px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 30px;
    background: white;
    border: 1px;
    border-radius: 9px;
}

.Navigation ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.Navigation li {
    color: #293950;
    list-style: none;
    margin-bottom: 9px;
}

.Navigation2 {
    display: flex;
    padding: 5px 40px;
    color: rgb(4, 0, 0);
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 30px;
    background: white;
    border: 1px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;
}

.Navigation2 ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.Navigation2 li {
    color: #293950;
    list-style: none;
    margin-bottom: 9px;
} 
.Contactmessages{
    color: #0C192C;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 600px;
     height: 600px;
     flex-direction: column;
     gap: 10px;
     margin-left: 600px;
     padding: 30px;
     background:white;
     border: 1px;
     border-radius: 9px; 
     margin-top: 80px;
}
.Contactmessages new {
    width: 500px;
    height: 150px;
}

.Contactmessages {
    color: #0C192C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    flex-direction: column;
    gap: 10px;
    margin-left: 950px;
    padding: 30px;
    background: white;
    border: 1px;
    border-radius: 9px;
    margin-top: 30px;
}

.Contactmessages textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Nav {
    width: 100%;
}

.kolona1, .kolona2 {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.Statistikat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -390px;
    margin-left: 200px;
    width: 80%;
}

.Statistikat .stat-box1 {
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-left: 50px;
    width: 300px;
    height: 60px;
}

.DetajetCustomer {    
    display: flex;  
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    
    width: 40%;  
    height: 400px; 
    padding: 10px;  
    
    background-color: white;  
    border-radius: 9px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
    overflow-y: auto;  
    margin-left: 220px;
    margin-top: -260px;
}

.DetajetCustomer textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


@media (max-width: 768px) {
    body {
        width: 100%;
    }

    .kolona1, .kolona2 {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .Statistikat {
        display: flex;
        flex-direction: column;
        margin-top: -500px;
        margin-left: 150px;
    }

    .stat-box1 {
        width: 50%;
        margin: 10px;
    }

    #koment {
        margin-right: 15px;
    }

    .DetajetCustomer {
        width: 90%;
        margin-right: -15px;
        margin: 0px;
        padding: 20px;
        margin-bottom: 10px;
    }

    .Contactmessages {
        padding: 20px;
        margin-bottom: 300px;
        margin-left: 2px;
        margin-top: 200px;
        width: 90%;
    }

    .Navigation2 {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .kolona1, .kolona2 {
        flex-direction: column;
    }

    .Statistikat {
        flex-direction: column;
    }

    .Statistikat .stat-box1 {
        width: 50%;
        margin: 10px;
        margin-left: -30px;
    }

    .DetajetCustomer {
        width: 90%;
        margin-right: -15px;
        margin: 0px;
        padding: 20px;
        margin-bottom: 10px;
        max-height: 300px;  
        overflow-y: auto;   
    }

    .Contactmessages {
        padding: 20px;
        margin-bottom: 300px;
        margin-left: 2px;
        margin-top: 120px;
        width: 90%;
    }
}
