a{
    text-decoration: none;
    color: inherit;
}
body{
   background-color: #0C192C; 
}
.header{
    padding: 5px 40px;
    color: white;
    justify-content: space-between; 
    display: flex;
}
.Customise{
    display: flex;
    justify-content: flex-start;  
    align-items: center; 
    color: #0C192C;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0.1px;
    background:white;
    border: 1px;
    border-radius: 9px;
     
    
}
 
.Navigation{
    display: flex;
    padding: 5px 40px;
    color: rgb(4, 0, 0);
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 210px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 30px;
    background: white;
    border: 1px;
    border-radius: 9px;

}
.Navigation ul {
    padding-left: 0;         
    margin: 0;  
    text-align: center;
}
.Navigation li{
    color: #293950;
    list-style: none;
    margin-bottom: 9px;
}
.Navigation2{
    display: flex;
    padding: 5px 40px;
    color: rgb(4, 0, 0);
    flex-direction: column;
    gap: 10px;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 30px;
    background: white;
    border: 1px;
    border-radius: 9px;
    justify-content: center;
    align-items: center;

}
.Navigation2 ul {
    padding-left: 0;         
    margin: 0;  
    text-align: center;
}
.Navigation2 li{
    color: #293950;
    list-style: none;
    margin-bottom: 9px;
} 
.Contactmessages{
    color: #0C192C;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 400px;
     height: 200px;
     flex-direction: column;
     gap: 10px;
     margin-top: -300px;
     margin-left: 1050px;
     padding: 30px;
     background:white;
     border: 1px;
     border-radius: 9px; 
}
.Contactmessages textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  } 


  .Statistikat{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: -380px;
    
    
 }
 .Statistikat .stat-box1{
    padding-left: 0;         
    margin: 0;  
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-left: 200px;
    width: 300px ;
    height: 60px;
 }
 .Statistikat .stat-box2{
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 10px;
    width: 300px ;
    height: 60px;
 }
 .Statistikat .stat-box3{
    padding-left: 0;         
    margin: 0;  
    text-align: center;
    background: white;
    border-radius: 5px;
    width: 300px ;
    height: 60px;
 }
 .Statistikat .stat-box4{
    padding-left: 0;         
    margin: 0;  
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px ;
    height: 60px;
 }
 .DetajetCustomer{    
   display: flex;  
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    
    width: 53%;  
    
    height: 34%;  
    padding: 10px;  
    
    background-color: white;  
    border-radius: 9px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    margin: 60px auto;  
    overflow: visible; 
    margin-left: 200;
   
 }
 .DetajetCustomer h3{
    margin-left: 20px;
 }
 .DetajetCustomer ul{
    margin-left: 20px;
 }
