a{
    text-decoration: none;
}

body{
  background-color: rgba(240, 237, 215, 0.8);

}

header{
   background-color: #0C192C;
   padding: 5px 40px;
   color: white;
   justify-content: space-between;
   align-items: center;
   display: flex;
   
}

.header0 {
   font-size: 30px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: white;
   margin-right: 20px;
   margin-left: 5px;
}

.icon{
     
    height: 32px;
    width: 32px;
    border-radius: 80px;
}

.header1{
   font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: white;
   padding-inline: 3px;
}

.header2{
   font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-left: auto;
   color: white;
}
 
  @media (max-width: 768px) {

    #houseImg{
      width: 95%;
      height:auto;
      flex-wrap: wrap;
      margin: 10px;
    }

    .icon {
        margin: 10px 0;
        height: 28px;
        width: 28px;
    }

    #image {
      height: auto; /* Full viewport height */
      width: 100%;
    }


}

@media (max-width: 768px) {
    .icon {
        height: 24px;
        width: 24px;
    }
}
 .footer{
    background-color: #0C192C;
    color:white;
    padding: 40px 20px;
  }
  .footer-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  /* 3 kolona */
  .footer-container>div{
  width: 30%;
  min-width: 250px;
  }
  .footer h3{
    font-size: 1.5rem;
    margin-bottom:15px;
    color:#f9f9f9;
  }
  .footer p{
    font-size: 1rem;
    color:#bbb;
  }
  .footer-links ul{
    list-style: none;
    padding: 0;
  }
  .footer-links ul li {
    margin:8px 0
  }
  .footer-links ul li a{
    color:#bbb;
    text-decoration: none;
  }
  .footer-links ul li a:hover{
    color: white;
  }
  .footer-socials.social-icons a{
    display: inline-block;
    margin: 0 8px;
    width: 32px;
    height: 32px;
  }
  .footer-socials.social-icons img{
    width: 100%;
    height: auto;
  }
  .footer-bottom{
    text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  font-size: 0.9rem;
  color: #888;
  border-top: 1px solid #444;
  }
  
  @media (max-width: 480px) {
    .footer h3 {
      font-size: 1.2rem;
    }
  .footer p{
    font-size: 0.9rem;
  }
  .footer-bottom{
    font-size: 0.8rem;
  }
  }

#title{
    font-size: 2rem;
    color: #4D5A6C;
    margin-top: 20px;
    margin-left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#houseDesc{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #4D5A6C;
   font-size: 20px;
   margin-left: 30px;
}

.part2 p{
  font-family: Georgia, 'Times New Roman', Times, serif;
   color: #4D5A6C;
   font-size: 20px;
   margin-left: 30px;
   background-color: rgba(240, 237, 215, 0.7);
}
.houseDescriptionPictures img{
  width: 350px;
  height: auto;
  margin: 5px;
  margin-top: 0px;
}

.houseDescriptionPictures{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.part3{
  font-family: Georgia, 'Times New Roman', Times, serif;
   color: #4D5A6C;
   font-size: 20px;
  background-color: rgba(196, 195, 190, 0.7);
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

#button{
  width: 180px;
  height: 40px;
  padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgba(69, 69, 69, 0.7); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    margin-bottom: 15px;
}